<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva EPS</title>
</head>
<link rel="stylesheet" href="../style.css">
<body>
    <div class="container">
<header>
<div class="banner">
    <div class="botones-principales">
<a href="../index.html"><img src="../img/logoInicio.png" alt=""></a>
<a href="#"><img src="../img/logoServicios.jpg" alt=""></a>
<a href="../view/Contactos.html"><img src="../img/logoContactos.png" alt=""></a>
</div>
    <img src="../img/logo_servicios.png" alt="">
    

</div>
</header>

<section class="seccion-noticias">
<h2>Canales de Atencion NUEVA EPS</h2>
<p>La Nueva EPS ofrece diversos canales de atención para sus afiliados, incluyendo su portal web, aplicación móvil, líneas telefónicas (01 8000 954400 para Contributivo y 01 8000 952000 para Subsidiado), y atención presencial en oficinas regionales. Además, cuenta con una red de IPS asignada para servicios médicos.</p>
<h2>Para comunicarte con tu asesor haz click al boton de Whastsapp</h2>
            <p style="text-align: center;">
            <a href="https://api.whatsapp.com/send/?phone=573214459657&text=Hola%2C+necesito+informaci%C3%B3n&type=phone_number&app_absent=0">
                <img src="../img/logoContacto.png" style="width: 200px;">
            </a>
            </p>

</section>