<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva EPS</title>
</head>
<link rel="stylesheet" href="../style.css">
<body>
    <div class="container">
<header>
<div class="banner">
    <div class="botones-principales">
<a href="../index.html"><img src="../img/logoInicio.png" alt=""></a>
<a href="../view/Servicios.html"><img src="../img/logoServicios.png" alt=""></a>
<a href="../view/Contactos.html"><img src="../img/logoContactos.png" alt=""></a>
</div>
    <img src="../img/imgServicios.png" alt="">
    
    
</div>
</header>

<section class="seccion-noticias">
<h2>Servicios NUEVA EPS</h2>
<p>La Nueva EPS ofrece servicios integrales de salud a través de sus regímenes 
Contributivo y Subsidiado, incluyendo consulta externa, citas médicas, laboratorios, urgencias y 
programas especiales. La atención se gestiona mediante una red de IPS asignada, accesibles vía su portal web, la app móvil, y líneas telefónicas 
01 8000 954400 (Contributivo) o 01 8000 952000 (Subsidiado).
</p>
<h2>Servicios Destacados</h2>
<p>-Citas Médicas: Generales y especialistas, con opción de agendamiento en línea o telefónico.</p>
<p>-Urgencias: Red de hospitales y clínicas a nivel nacional (ej. Clínica Nuestra Señora de los Remedios en Cali).</p>
<p>-Autorizaciones: Trámite para procedimientos y medicamentos.</p>
<p>-Programas de Promoción y Prevención: Atención a enfermedades crónicas (cardiovascular, renal) y materno-perinatal.</p>
<p>-Atención en Casa: Estrategia "Cuidándote en Casa" para atención extramural en algunas regiones.</p>
</section>
